tox
inflect<0.3.1
pyopenssl<18
cffi<1.14
git+https://github.com/tomato42/coveralls-python.git@add-py26#egg=coveralls
idna<2.8
unittest2
hypothesis<3
coverage
mock==2.0.0
cryptography>=39.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
